@model IEnumerable<SEC1G3.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudyTerm.TermName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyTerm.TermName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
